<div class="pagepilot-layout">
  <div
    id="pp-customizer-notification"
    class="pp-w-full pp-h-fit pp-max-w-[400px] pp-mx-auto pp-bg-gradient-to-br pp-from-[#7778ff]/80 pp-to-[#441bff] pp-backdrop-blur-xl pp-py-[20px] pp-px-[20px] pp-gap-[24px] pp-flex pp-flex-col pp-items-center pp-justify-between pp-rounded-2xl pp-mt-20 pp-text-white pp-fixed pp-right-0 sm:pp-right-10 pp-bottom-0 sm:pp-bottom-10 pp-m-auto pp-z-50"
  >
    <div class="pp-w-full pp-flex pp-justify-between pp-items-center">
      <div class="pp-flex pp-items-center pp-gap-[8px] pp-bg-white/20 pp-rounded-lg pp-px-[16px] pp-py-[6px]">
        <svg
          class="pp-w-[20px] pp-h-[20px] pp-fill-white"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <path d="M208,80H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Z"></path>
        </svg>
        <div class="pp-text-[15px]">Only you can see this</div>
      </div>
      <div
        id="pp-customizer-close"
        class="pp-rounded-lg pp-p-[2px] hover:pp-bg-white/10 hover:pp-cursor-pointer relative"
      >
        <svg
          class="pp-w-[24px] pp-h-[24px] pp-fill-white"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
        </svg>
      </div>
    </div>

    <div class="pp-flex pp-flex-col pp-gap-[16px]">
      <div class="pp-flex pp-items-center pp-gap-[16px]">
        <svg
          class="pp-w-full pp-max-w-[45px]"
          viewBox="0 0 152 152"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1279_6)">
            <path
              d="M30 3H122C136.912 3 149 15.0883 149 30V122C149 136.912 136.912 149 122 149H30C15.0883 149 3 136.912 3 122V30C3 15.0883 15.0883 3 30 3Z"
              stroke="white"
              stroke-width="6" />
            <path
              d="M49.1263 69.2891L52.3257 104.276L37.5824 123.282L33.7122 93.9107L49.1263 69.2891Z"
              fill="white" />
            <path
              d="M103.4 69.2891L100.197 104.276L114.94 123.282L118.814 93.9107L103.4 69.2891Z"
              fill="white" />
            <path
              d="M94.3435 30.7653C89.3609 20.2859 81.5038 14 76.2631 14C71.0225 14 63.1654 20.2902 58.1828 30.7653H94.3435Z"
              fill="white" />
            <path
              d="M96.3471 35.6826H56.1792C54.4086 40.8443 53.3546 46.7557 53.5004 53.2479C53.9294 71.8574 58.3121 104.71 58.3121 104.71L91.0107 104.706L94.2101 104.71C94.2101 104.71 98.5969 71.8528 99.0176 53.2479C99.1717 46.7557 98.1177 40.84 96.3471 35.6826ZM76.2631 76.2525C69.9768 76.2525 64.8817 71.1075 64.8817 64.7543C64.8817 58.401 69.9808 53.256 76.2631 53.256C82.5455 53.256 87.6404 58.401 87.6361 64.7543C87.6404 71.1078 82.5455 76.2525 76.2631 76.2525Z"
              fill="white" />
            <path
              d="M122.526 151.962C120.897 147.221 116.431 143.819 111.186 143.819C109.507 143.819 107.908 144.164 106.45 144.796C105.95 139.251 101.334 134.91 95.7181 134.91C94.9058 134.91 94.1184 134.998 93.3602 135.171C93.3684 135.019 93.3684 134.868 93.3684 134.716C93.3684 130.531 90.0106 127.138 85.8697 127.138C84.795 127.138 83.7701 127.365 82.8452 127.778C80.2499 123.138 79.4956 111.029 79.4956 111.029H72.6968C72.6968 111.029 71.826 124.326 68.7474 128.73C68.0307 128.435 67.2394 128.275 66.4145 128.275C62.9441 128.275 60.1321 131.117 60.1321 134.624C60.1321 134.889 60.1489 135.15 60.1822 135.407C59.1906 135.083 59.3074 134.91 58.2076 134.91C53.8127 134.91 50.0674 137.714 48.6258 141.646C47.0136 140.968 45.2472 140.594 43.3934 140.594C36.6863 140.594 31.1121 145.503 30 151.962H122.526Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_1279_6">
              <rect width="152" height="152" fill="white" />
            </clipPath>
          </defs>
        </svg>

        <div class="pp-flex pp-flex-col">
          <div class="pp-text-[22px] pp-text-white pp-font-light"><span class="pp-font-medium">PAGE</span>PILOT.AI</div>
          <div class="pp-text-[14px] pp-text-white pp-font-medium">Create high-converting product pages</div>
        </div>
      </div>
      <p class="pp-text-[15px] pp-font-light">
        All products where listed using
        <a
          href="https://pagepilot.ai?utm_source=storepilot&utm_medium=popup&utm_campaign=shopify-customizer"
          target="_blank"
          class="pp-font-semibold"
        >
          PagePilot.ai
        </a>
        and you can launch more products in just a few minutes using our AI technology.
      </p>
      <a
        href="https://pagepilot.ai?utm_source=storepilot&utm_medium=popup&utm_campaign=shopify-customizer"
        target="_blank"
        class="pp-w-fit pp-rounded-xl pp-bg-white pp-py-[12px] pp-px-[24px] pp-text-black pp-text-[15px] pp-font-medium hover:pp-shadow-2xl"
      >
        Start Now For Free
      </a>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const closeButton = document.getElementById('pp-customizer-close');
    const notification = document.getElementById('pp-customizer-notification');

    closeButton.addEventListener('click', function () {
      notification.style.display = 'none';
    });
  });
</script>
